@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;1,100;1,600&display=swap');



*{
    margin: 0;
    padding: 0;
}

/*--------- HEADER -------------*/

header{
    background-color: #142b3b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a img{
    width: 200px;
    height: 200px;
}
header nav ul{
    list-style: none;
    display: flex;
    margin-right: 30px;
}

header nav ul li{
    margin: 8px;
}

header nav ul li a{
    text-decoration: none;
    color: #ffcc99; 
    font-family: 'Poppins', sans-serif;
    font-weight: 200 italic;
}




/*------------MAIN----------------*/
main{
    font-family: 'Poppins', sans-serif;    
    background-color: #142b3b;
}

.hero{
    width: 100%;
    height: 80vh;
    text-align: center;
    background-image: url("../img/img-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1{
    font-size: 70px;
    font-weight: 600;
}

.hero h2{
    font-size: 30px;
}

/**-------Index----------*/
.contenedor-tarjetas{
    display: flex;
    align-items: center;
    justify-content: center;
}

.productos h2{
    text-align: center;
    color: #e47c5d;
    margin: 20px;
}

.contenedor-tarjetas div{
    border: 2px solid #ffcc99;
    width: 250px;
    height: 400px;
    text-align: center;
    color: #e47c5d;
    margin: 20px;
}

.productos div img{
    width: 250px;
    height: 300px;
}

.contenedor-tarjetas-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info h2{
    text-align: center;
    color: #e47c5d;
    margin: 20px;
}

.contenedor-tarjetas-info div{
    width: 250px;
    height: 400px;
    text-align: center;
    margin: 20px;
}

.info div img{
    width: 100px;
    height: 100px;
}

.nuevos-ingresos h2{
    text-align: center;
    color: #e47c5d ;
}

.contenedor-tarjetas div{
    border: 2px solid #ffcc99;
    width: 250px;
    height: 400px;
    text-align: center;
    margin: 20px;
}

.nuevos-ingresos div img{
    width: 250px;
    height: 300px;
}

/**---------Productos-------------*/
.titulos-h1{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #e47c5d;
}
/*---------Mates-------*/
.mates .style-tarjetas h2{
    text-align: center;
    font-size: 32px;
    font-weight:400;
    color: #ffcc99;
    margin: 20px;
}
.mates .style-tarjetas div{
    border: 2px solid #ffcc99;
    width: 350px;
    height: 500px;
    margin: 20px;
    text-align: center;
}

.mates .style-tarjetas div img{
    width: 350px;
    height: 400px;
}

.mates .style-tarjetas div h3{
    color: #e47c5d;
}

.mates .style-tarjetas div a{
    text-decoration: none;
    color:#141414 ;
    background-color:#ffcc99;
}

.mates .style-tarjetas .position-mate-camionero{ /*Esto lo hago para que la tarjeta este a nivel con las demás*/
    position: relative;
    top: 30px;
}

/*------Bombillas-------*/
.bombillas h2{
    text-align: center;
    font-size: 32px;
    font-weight:500;
    color: #e47c5d;
    margin: 20px;
}

.bombillas .style-tarjetas div{
    border: 2px solid #ffcc99;
    width: 350px;
    height: 500px;
    margin: 20px;
    text-align: center;
}

.bombillas .style-tarjetas div img{
    width: 350px;
    height: 400px;
}

.bombillas .style-tarjetas div h3{
    color: #e47c5d;
}

.bombillas .style-tarjetas div a{
    text-decoration: none;
    color:#141414 ;
    background-color:#ffcc99;
}

/*------Yerberas---------*/
.yerberas h2{
    text-align: center;
    font-size: 32px;
    font-weight:500;
    color: #e47c5d;
    margin: 20px;
}

.yerberas .style-tarjetas div{
    border: 2px solid #ffcc99;
    width: 350px;
    height: 500px;
    margin: 20px;
    text-align: center;
}

.yerberas .style-tarjetas div img{
    width: 350px;
    height: 400px;
}

.yerberas .style-tarjetas div h3{
    color: #e47c5d;
}

.yerberas .style-tarjetas div a{
    text-decoration: none;
    color:#141414 ;
    background-color:#ffcc99;
}


/**-----------Page Tips------------*/
.titulo-tips-p{
    text-align: center;
    font-size: 20px;
    font-weight:300;
    color:#ffcc99;
}

.style-tips img{
    width: 500px;
    height: 350px;
}

.style-tips h2{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #e47c5d;
}

.style-tips div img{
    width: 80px;
    height: 80px;
}

.parrafos-tips{
    color:#ffcc99;
    font-weight: 200;
}

/*-----------cebado de mate-----*/
.subtitulo-tips{
    color: #e47c5d;
    font-size: 20px;
    font-weight: 500;
}

.cuidados div ol{
    list-style:decimal;
}

/**---------Page Nosotros-----------*/
.page-nosotros img{
    width: 500px;
    height: 500px;
}

.page-nosotros div p{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #ffcc99;
}

/**-------Page Contacto---------*/
.form-contacto div label{
    color: #ffcc99;
    font-weight: 400;
}

.form-contacto div h2{
    color: #e47c5d;
    font-weight: 400;
    font-size: 30px;
}

.submit{
    color: #e47c5d;
    background-color: #142b3b;
    border-color: #ffcc99;
    padding: 4px;
}
/*------------FOOTER---------------*/
footer{
    background-color: #142e42;
    font-family: 'Poppins', sans-serif;  
    color: #e47c5d; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div img{
    width: 50px;
    height: 50px;
}